<div class="allContent">
    <div class="mainContent">
        <h1>
            WELCOME IN OUR SYSTEM
        </h1>
       <div class="content">
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Nesciunt iusto eum ipsa saepe repudiandae velit voluptatem quas reiciendis sit quae illo nulla deserunt pariatur eveniet dignissimos incidunt quibusdam, dolore dolorum?</div>
        <div>Lorem ipsum dolor sit amet consectetur adipisicing elit. Quis odio ratione exercitationem dolorum, quasi laudantium quod unde quo architecto minima facilis nam iure eos sunt fuga non sint minus assumenda?</div>
       </div>
    </div>
</div>
